<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FixEngine" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <FixEngine>
    <add key="ListenPort" value="4500"/>
  </FixEngine>
  <appSettings>
    <add key="SenderCompID" value="TradingGateway"/>
    <add key="TargetCompID" value="Client"/>
  </appSettings>
</configuration>
