<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="FixEngine" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <FixEngine>
    <add key="ListenPort" value="4500"/>
    <add key="Log.InboundMessages" value="true"/>
    <add key="Log.SessionSummary" value="true"/>
    <add key="Log.FlushFileAfterEachMessage" value="false"/>
  </FixEngine>
  
	<appSettings>
		<add key="SenderCompID" value="SellSide"/>
		<add key="TargetCompID" value="BuySide"/>
		<add key="FIX version" value="4.4"/>
	</appSettings>
<startup></startup></configuration>





























