<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Host" value="localhost"/>
		<add key="Port" value="4500"/>
		<add key="SenderCompID" value="Client"/>
		<add key="SenderSubID" value=""/>
		<add key="SenderLocationID" value=""/>
		<add key="TargetCompID" value="TradingGateway"/>
		<add key="TargetSubID" value=""/>
    <add key="TargetLocationID" value=""/>    
    <add key="HBI" value="30"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="KeepSeqNum" value="True"/>
    <add key="SetResetSeqNumFlag" value="True"/>    
  </appSettings>
<startup></startup></configuration>





























