<?xml version="1.0"?>
<configuration>
  
	<configSections>
		<section name="FixEngine" type="System.Configuration.NameValueSectionHandler"/>
		<section name="TradingSession" type="ExchangeEmulator.SessionConfiguration, ExchangeEmulator"/>
		<section name="MarketDataSession" type="ExchangeEmulator.SessionConfiguration, ExchangeEmulator"/>
	</configSections>
  
	<FixEngine>
	</FixEngine>
  
	<TradingSession senderCompID="TradingGateway" targetCompID="Client" fixVersion="FIX44" keepSequenceNumbersAfterLogout="True" heartbeatInterval="30" useSslEncryption="False" sslCertificateFile="" username="" password=""/>
	<MarketDataSession senderCompID="MarketDataFeed" targetCompID="Client" fixVersion="FIX44" keepSequenceNumbersAfterLogout="False" heartbeatInterval="30"/>

  <appSettings>
		<add key="ListenPort" value="4500"/>
    <add key="SSL.ListenPort" value="9600"/>
		<add key="AskPrice" value="102"/>
		<add key="BidPrice" value="100"/>
		<add key="PriceIncrement" value="0.5"/>
	</appSettings>
	
</configuration>












































