<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FixEngine" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <FixEngine>
  </FixEngine>
  <appSettings>
    <add key="SenderCompID" value="BuySide"/>
    <add key="TargetCompID" value="SellSide"/>
    <add key="FIX version" value="4.4"/>
    <add key="Counterparty Host" value="localhost"/>
    <add key="Counterparty Port" value="4500"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup></startup></configuration>





























