<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <switches>
      <!-- This switch controls general messages. In order to receive general trace messages change the value to the appropriate level.          
         "0" gives nothing
         "1" gives error messages, 
         "2" gives error and warning messages, 
         "3" gives error, warning and info messages, 
         "4" gives error, warning, info and verbose messages.
         -->
      <add name="FIXForge.NET.FIX.Scheduling" value="4"/>
    </switches>
    <!-- autoflush=false would decrease the system load -->
    <trace autoflush="true">
      <listeners>
        <remove name="Default"/>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceLog.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>