<?xml version="1.0" encoding="utf-8" ?>
<SchedulerSettings xmlns="http://ref.onixs.biz/fix/scheduler"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://ref.onixs.biz/fix/scheduler http://ref.onixs.biz/fix/scheduler/scheduler-settings-1.6.xsd">
  <Schedules>
    <Schedule 
      id="SimpleDaily" 
      firstDay="Monday"
      lastDay="Friday"
      logonTime="08:00" 
      logoutTime="17:00" 
      sessionDuration="day" 
      resetSessionNumber="weekly"
      />
    <Schedule
      id="SimpleWeekly"
      firstDay="Monday"
      lastDay="Friday"
      logonTime="08:00"
      logoutTime="17:00"
      sessionDuration="week"
      resetSessionNumber="weekly"
      />
    <Schedule
      id="DailyWithMidnightCross"
      firstDay="Monday"
      lastDay="Friday"
      logonTime="21:00"
      logoutTime="03:00"
      sessionDuration="day"
      resetSessionNumber="daily"
      />
    <Schedule
      id="WeeklyWithMidnightCross"
      firstDay="Monday"
      lastDay="Friday"
      logonTime="21:00"
      logoutTime="03:00"
      sessionDuration="week"
      resetSessionNumber="never"
      />
    <Schedule
      id="AllWeek"
      firstDay="Sunday"
      lastDay="Saturday"
      logonTime="0:00"
      logoutTime="23:59:00"
      sessionDuration="week"
      resetSessionNumber="never"
      />
    <Schedule
      id="DailyWithDailySeqNumberReset"
      firstDay="Monday"
      lastDay="Friday"
      logonTime="8:00"
      logoutTime="17:00"
      sessionDuration="day"
      resetSessionNumber="daily"
      />
    <Schedule
      id="DailyWithWeeklySeqNumberReset"
      firstDay="Monday"
      lastDay="Friday"
      logonTime="8:00"
      logoutTime="17:00"
      sessionDuration="day"
      resetSessionNumber="weekly"
      />
  </Schedules>
  <Connections>
    <Connection 
      id="LocalInitiator" 
      role="initiator" 
      host="localhost" 
      port="4500"
      />
	<Connection
      id="MultiHostInitiator"
      role="initiator"
      >
	  <Counterparty host="host1" port="4500" />
	  <Counterparty host="host2" port="4500" />
	</Connection>
	<Connection
      id="Acceptor"
      role="acceptor"
      />
  </Connections>
</SchedulerSettings>
